[".vim/autoload/plug.vim"]
type = "file"
url = "https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"
refreshPeriod = "168h"
[".dotfiles/z.sh"]
type = "file"
url = "https://raw.githubusercontent.com/rupa/z/master/z.sh"
refreshPeriod = "168h"
{{- if ( and (hasKey . "work") ( eq .work true) ) }}
[".dotfiles/work"]
type = "git-repo"
url = "git+ssh://git@gitlab.com/josacar/work-dotfiles.git"
refreshPeriod = "168h"
{{ end }}
