{{- $work := promptBool "Use work profile" false -}}
{{- $email  := promptString "Git email" "josacar@users.noreply.github.com" -}}

[data]
name = "Jose Luis Salas"
email = {{ $email | quote }}
work = {{ $work }}
