{{- /*
  vim:ft=toml.gotmpl:
    */ -}}

[".dotfiles/z.sh"]
type = "file"
url = "https://raw.githubusercontent.com/rupa/z/master/z.sh"
refreshPeriod = "168h"

{{- if ( and (hasKey . "work") ( eq .work true) ) }}

[".dotfiles/work"]
type = "git-repo"
url = "git+ssh://git@gitlab.com/josacar/work-dotfiles.git"
refreshPeriod = "168h"
{{ end }}

# Fonts

{{- $font_dir := "" }}
{{- if eq .chezmoi.os "darwin" }}
{{- $font_dir = "Library/Fonts" }}
{{- else if eq .chezmoi.os "linux" }}
{{- $font_dir = ".local/share/fonts" }}
{{- end }}

{{- range (list "CodeNewRoman" "Meslo") }}
["{{- joinPath $font_dir . -}}"]
url = {{ printf "%s.tar.xz" . | gitHubLatestReleaseAssetURL "ryanoasis/nerd-fonts" | quote }}
type = "archive"
executable = true
refreshPeriod = "720h" # 30 days
exclude = ["*NerdFontPropo*","*NFP*", "README.md"]
{{- end }}

# Binaries

# Other arch formats
{{- $arch := "" -}}
{{- if eq .chezmoi.arch "amd64" -}}
  {{- $arch = "x86_64" -}}
{{- else -}}
  {{- $arch = "aarch64" -}}
{{- end }}

[".local/bin/age"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "FiloSottile/age" (printf "age-*-%s-%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
executable = true
path = "age/age"
refreshPeriod = "360h" # 15 days

[".local/bin/age-keygen"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "FiloSottile/age" (printf "age-*-%s-%s.tar.gz" .chezmoi.os .chezmoi.arch) | quote }}
executable = true
path = "age/age-keygen"
refreshPeriod = "360h" # 15 days

[".local/bin/gdu"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "dundee/gdu" (printf "gdu_%s_%s.tgz" .chezmoi.os .chezmoi.arch) | quote }}
executable = true
path = "gdu_{{ .chezmoi.os }}_{{ .chezmoi.arch }}"
refreshPeriod = "360h" # 15 days

[".local/bin/mitamae"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "itamae-kitchen/mitamae" ( printf "mitamae-%s-%s.tar.gz" $arch .chezmoi.os ) | quote }}
executable = true
path = "mitamae-{{ $arch }}-{{ .chezmoi.os }}"
refreshPeriod = "360h" # 15 days

# Other arch & os formats
{{- $bw_filename:= "bw" -}}
{{- if eq .chezmoi.os "linux" -}}
{{- $bw_filename = printf "%s-%s" $bw_filename .chezmoi.arch -}}
{{- else -}}
{{- $bw_filename = printf "%s-%s" $bw_filename "macos" -}}
{{- end }}
{{- if eq .chezmoi.arch "arm64" -}}
{{- $bw_filename = printf "%s-%s" $bw_filename .chezmoi.arch }} -}}
{{- end }}

[".local/bin/bw"]
type = "archive-file"
url = "https://github.com/bitwarden/clients/releases/download/cli-v{{ .tools.bw.version }}/{{ $bw_filename }}-{{ .tools.bw.version }}.zip" 
path = "bw"
executable = true
refreshPeriod = "360h" # 15 days

# Other arch & os formats
{{- $bws_filename := "bws" -}}
{{- if eq .chezmoi.arch "amd64" -}}
{{- $bws_filename = printf "%s-%s" $bws_filename "x86_64" -}}
{{- else -}}
{{- $bws_filename = printf "%s-%s" $bws_filename "aarch64" -}}
{{- end }}
{{- if eq .chezmoi.os "linux" -}}
{{- $bws_filename = printf "%s-%s" $bws_filename "unknown-linux-gnu" -}}
{{- else -}}
{{- $bws_filename = printf "%s-%s" $bws_filename "apple-darwin" -}}
{{- end }}

[".local/bin/bws"]
type = "archive-file"
url = "https://github.com/bitwarden/sdk-sm/releases/download/bws-v{{ .tools.bws.version }}/{{ $bws_filename }}-{{ .tools.bws.version }}.zip"
path = "bws"
executable = true
refreshPeriod = "360h" # 15 days
