#!/bin/sh

{{ if eq .chezmoi.os "linux" -}}

echo "Install packages ..."
sudo apt-get update -qy
sudo apt-get install ripgrep vim neovim gpg sudo wget curl fd-find -y

if ! command -v mise >/dev/null 2>&1; then
  echo "Installing mise"
  sudo install -dm 755 /etc/apt/keyrings
  wget -qO - https://mise.jdx.dev/gpg-key.pub | gpg --dearmor | sudo tee /etc/apt/keyrings/mise-archive-keyring.gpg 1> /dev/null
  echo "deb [signed-by=/etc/apt/keyrings/mise-archive-keyring.gpg arch=amd64] https://mise.jdx.dev/deb stable main" | sudo tee /etc/apt/sources.list.d/mise.list
  sudo apt update -qy
  sudo apt install -y mise
fi

{{ else if eq .chezmoi.os "darwin" -}}

install_chefdk_gem() {
  gem=$1
  if command -v chef >/dev/null 2>&1 && chef gem list --no-installed "$gem" >/dev/null 2>&1; then
    chef gem install "$gem"
  fi
}

echo "Setting Mac defaults..."

defaults write com.apple.desktopservices DSDontWriteNetworkStores true
defaults write bluetoothaudiod "Enable AptX codec" -bool true
defaults write bluetoothaudiod "Enable AAC codec" -bool true
defaults write NSGlobalDomain NSAutomaticQuoteSubstitutionEnabled -bool false
defaults write NSGlobalDomain NSAutomaticDashSubstitutionEnabled -bool false
defaults write com.apple.screencapture location $HOME/screenshots

echo "Install Brew ..."

if ! command -v brew >/dev/null 2>&1; then
  echo 'Installing brew'
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

echo "Install Brewfile packages ..."
brew bundle

echo "Install chefdk gems ..."
install_chefdk_gem kitchen-dokken
install_chefdk_gem kitchen-inspec
install_chefdk_gem inspec

{{- if ( and (hasKey . "work") ( eq .work true) ) }}

echo
echo "Don't forget to run this command to install missing tools for SHA {{ includeTemplate "dot_config/SelfServeManifest.tmpl" | sha256sum }}!!!"
echo 'sudo cp ~/.config/SelfServeManifest /Library/Managed\ Installs/manifests/SelfServeManifest'

{{- end -}}
{{ end -}}
