{{- /*
  vim:ft=sh.gotmpl:
*/ -}}
#!/bin/sh

{{ if eq .chezmoi.os "linux" -}}

echo "Install packages ..."
sudo apt-get update -qy
sudo apt-get install ripgrep vim neovim gpg sudo wget curl fd-find -y

if ! command -v mise >/dev/null 2>&1; then
  echo "Installing mise"
  sudo install -dm 755 /etc/apt/keyrings
  wget -qO - https://mise.jdx.dev/gpg-key.pub | gpg --dearmor | sudo tee /etc/apt/keyrings/mise-archive-keyring.gpg 1> /dev/null
  echo "deb [signed-by=/etc/apt/keyrings/mise-archive-keyring.gpg arch=amd64] https://mise.jdx.dev/deb stable main" | sudo tee /etc/apt/sources.list.d/mise.list
  sudo apt update -qy
  sudo apt install -y mise
fi

{{ else if eq .chezmoi.os "darwin" -}}

install_chefdk_gem() {
  gem=$1
  if command -v chef >/dev/null 2>&1 && chef gem list --no-installed "$gem" >/dev/null 2>&1; then
    chef gem install "$gem"
  fi
}

echo "Setting Mac defaults..."


# Dock
defaults write com.apple.dock "orientation" -string "left" # Sets dock to left
defaults write com.apple.dock "tilesize" -int "32" # Dock icons to 32px
defaults write com.apple.dock "autohide" -bool "false" # Do not hide the dock
defaults write com.apple.dock "show-recents" -bool "false" # Disable recents in dock

# Screenshots
defaults write com.apple.screencapture "disable-shadow" -bool "true" # Disable shadow in screenshots
defaults write com.apple.screencapture "location" "~/Desktop/screenshots" # write screenshots in custom directory

# Safari
defaults write com.apple.Safari "ShowFullURLInSmartSearchField" -bool "true" # Show full URL in Safari

# Finder
defaults write NSGlobalDomain "AppleShowAllExtensions" -bool "true" # Show file extensions
defaults write com.apple.finder "ShowPathbar" -bool "true" # Show path bar
defaults write com.apple.finder "FXRemoveOldTrashItems" -bool "true" # Remove old items in trash
defaults write com.apple.finder "FXEnableExtensionChangeWarning" -bool "false" # Disable warning
defaults write NSGlobalDomain "NSDocumentSaveNewDocumentsToCloud" -bool "false" # Open home directory

# Menu Bar
defaults write com.apple.menuextra.clock "DateFormat" -string "\"HH:mm:ss\"" # Only show time
defaults write NSGlobalDomain "AppleEnableMenuBarTransparency" -bool false # Disable menu bar transparency
defaults write com.apple.menuextra.battery ShowPercent -string "YES" # Show percent
defaults write com.apple.menuextra.battery ShowTime -string "NO" # Do not show time


# Trackpad
defaults write com.apple.AppleMultitouchTrackpad "TrackpadThreeFingerDrag" -bool "true" # Drag windows with 3 fingers
defaults write com.apple.driver.AppleBluetoothMultitouch.trackpad Clicking -bool "true" # Tap to click
defaults -currentHost write NSGlobalDomain com.apple.mouse.tapBehavior -int "1" # Tap to click
defaults write NSGlobalDomain com.apple.mouse.tapBehavior -int "1" # Tap to click
defaults write -g com.apple.swipescrolldirection -bool "false" # Disable natural scroll

# Keyboard
defaults write NSGlobalDomain "ApplePressAndHoldEnabled" -bool "false" # Disable accent menu
defaults write com.apple.HIToolbox AppleFnUsageType -int "2" # Show emoji and symbols
defaults write NSGlobalDomain AppleKeyboardUIMode -int "2" # Move focus with tab

# Mission control
defaults write com.apple.dock "expose-group-apps" -bool "true" # Group windows by app

# Textedit
defaults write com.apple.TextEdit "RichText" -bool "false" # Disable rich text
defaults write com.apple.TextEdit "SmartQuotes" -bool "false" # Disable style quotes

# Activity Monitor
defaults write com.apple.ActivityMonitor "IconType" -int "6" # Show CPU usage history, graphed over time

# Misc
defaults write com.apple.CloudSubscriptionFeatures.optIn "545129924" -bool "false" # Disable Apple AI
defaults write com.apple.desktopservices "DSDontWriteNetworkStores" -bool true # Do not create DS_Store
defaults write bluetoothaudiod "Enable AptX codec" -bool true # Enable AptX
defaults write bluetoothaudiod "Enable AAC codec" -bool true # Enable AAC
defaults write NSGlobalDomain "NSAutomaticQuoteSubstitutionEnabled" -bool false # Disable smart quotes
defaults write NSGlobalDomain "NSAutomaticDashSubstitutionEnabled" -bool false # Disable emdash
defaults write NSGlobalDomain KeyRepeat -int 12 # Increase keyboard response
defaults write NSGlobalDomain InitialKeyRepeat -int 52 # Reduce key repeat delay
defaults write com.apple.LaunchServices LSQuarantine -bool false # Do not ask about unsigned apps
defaults write NSGlobalDomain NSAutomaticWindowAnimationsEnabled -bool false # Disable opening and closing window animations
defaults write NSGlobalDomain NSAutomaticSpellingCorrectionEnabled -bool false # Disable autocorrect
defaults write com.apple.finder WarnOnEmptyTrash -bool false # Disable the warning before emptying the Trash

# Mail
defaults write com.apple.Mail DisableReplyAnimations -bool true 
defaults write com.apple.Mail DisableSendAnimations -bool true
defaults write com.apple.mail AddressesIncludeNameOnPasteboard -bool false # Copy email address only

# Screensaver
defaults write com.apple.screensaver askForPassword -int 1
defaults write com.apple.screensaver askForPasswordDelay -int 0

echo "Install Brew ..."

if ! command -v brew >/dev/null 2>&1; then
  echo 'Installing brew'
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

echo "Install Brewfile packages ..."
brew bundle

echo "Install chefdk gems ..."
install_chefdk_gem kitchen-dokken
install_chefdk_gem kitchen-inspec
install_chefdk_gem inspec

{{- if ( and (hasKey . "work") ( eq .work true) ) }}

echo
echo "Don't forget to run this command to install missing tools for SHA {{ includeTemplate "dot_config/SelfServeManifest.tmpl" | sha256sum }}!!!"
echo 'sudo cp ~/.config/SelfServeManifest /Library/Managed\ Installs/manifests/SelfServeManifest'

{{- end -}}
{{ end -}}
